
linux/
busybox-*/
# build artifacts
build/
*.o
*.out
*.elf
*.img
*.gz
*.cpio
*.bin
*.log
*.iso
bzImage

# source folders unpacked
linux/
busybox*/

# temp
tempfs/

dist/*
!config
!config/*
!initramfs
!initramfs/*
!initramfs/etc
!initramfs/sys
!!initramfs/dev
!initramfs/proc
!scripts
!scripts/*
